<header class="container-fluid bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            {% if current_user.is_authenticated %}
                <span>Welcome, {{ current_user.username }}!</span>
            {% endif %}
        </div>
        <div>
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-light">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</header>
<style> body {
    
    font-family: "Poppins", sans-serif !important; 
}</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@200;300;400;500;900&display=swap" rel="stylesheet">